# Import libraries and datasets

In [1]:
import pandas as pd
import numpy as np 
import os 

path = r'C:\Users\ctede\OneDrive\Desktop\Instacart Basket Analysis'

## 3 Import the orders_products_combined dataframe that you just saved

In [2]:
#import the orders and products combined dataset 
df_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## 4 Check the shape of the imported dataframe (it should be the same as the one you exported)

In [3]:
df_merged.shape

(32434489, 11)

## 5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you are using your wrangled, clean, and deduped products data set stored in your "Prepared Data" forlder.

In [8]:
#import the clean products dataset 
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_full_clean.csv'), index_col=[0])

In [9]:
df_prods_clean

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [10]:
df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

### The common variable / key between the merged df and the clean products df is the "product_id" variable. I want to import the clean products df onto the merged df using the "product_id". The number of columns do not match (the clean products df has 5 columns and the merged df has 11 columns). So, I think using the df.merge() function is best.

In [13]:
#Test the merge without overwriting. The merge flag is already included in the merged dataframe. 
#Did not have to include the merge flag in the test.
pd.merge(df_merged, df_prods_clean, on = ['product_id'])

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404856,758936,203436,prior,1,2,7,0.0,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,prior,1,4,14,0.0,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [18]:
#Create the fully combined/merged dataframe: df_ords_prods_merged
df_ords_prods_merged = df_merged.merge(df_prods_clean, on = 'product_id')

In [19]:
df_ords_prods_merged

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404856,758936,203436,prior,1,2,7,0.0,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,prior,1,4,14,0.0,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3

## 7 Export the newly created dataframe as orders_products_merged in a suitable format.

In [20]:
#Export as pickle file 
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))